<h1>its working</h1>
<br>
<%= form_tag :action =>"text"%>
no 1
<%= text_field_tag "n1",""%>
<br>
no 2
<%= text_field_tag "n2",@n2,"size"=>30%>
<br>
<h1><%=@n1%> is </h1>
<%10.times do%>
<%=@n1%>
<%end%>
<br>
<br>
<input type="submit">


